.btn-active{
	-fx-background-color: rgb(30,144,255);
	-fx-text-fill: "#ffffff";
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 15;
    -fx-margin-bottom: 10;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: rgb(30,144,255);
    -fx-text-fill: #ffffff;
}
.payload{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;

    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: rgb(229, 229,229);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}
.btn-detail{
	-fx-background-color: #32CD32;
	-fx-text-fill: #ffffff;
}
.btn-detail:hover{
	-fx-background-color:#228B22
}
.back-image{
	-fx-border-radius: 50%;
	-fx-background-radius: 50%;
}
.back-image:hover{
	-fx-background-color: #D3D3D3;
}
.table-column{
    -fx-alignment: center;
    -fx-font-size: 16;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

